<footer class="footer mt-auto">
    <div class="content">
        <div class="row">
            <div class="footerlogo">
                <a href="{{ config.agency_url }}">
                    <img src="/img/WTA_logo.png"/ alt="WTA logo">
                </a>
            </div>
            <div class="googlesearch">
                <script async src="https://cse.google.com/cse.js?cx=c2529fccc56ea4f59">
                </script>
                <div class="gcse-searchbox-only"></div>
            </div>
        </div>
        <div class="row">
            <div class="social">
                <a href="https://www.facebook.com/ridewta/" alt="WTA Facebook">
                    <img src="/img/social-facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/ridewta/" alt="WTA Instagram">
                    <img src="/img/social-instagram-reverse.png" alt="Instagram">
                </a>
                <a href="https://twitter.com/ridewta" alt="WTA X (Twitter)">
                    <img src="/img/social-x-reverse.png" alt="X (Twitter)">
                </a>
                <a href="https://www.linkedin.com/company/ridewta" alt="WTA LinkedIn">
                    <img src="/img/social-linkedin.png" alt="LinkedIn">
                </a>
                <a href="https://www.youtube.com/channel/UCKkuwuoNcLYRCyc5MqhEpYQ" alt="WTA Youtube">
                    <img src="/img/social-youtube.png" alt="YouTube">
                </a>
                <a href="mailto: customerservice@ridewta.com" alt="Email WTA">
                    <img src="/img/social-email-reverse.png" alt="Email">
                </a>
            </div>
            <div class="legallinks">
                <span class="legal">© 2026 WTA • </span>
                <span class="links">
                    <a href="{{ config.agency_url }}/privacy" alt="Privacy Policy">Privacy Policy</a> • 
                    <a href="{{ config.agency_url }}/about-wta" alt="About Us">About Us</a> • 
                    <a href="{{ config.agency_url }}/customer-service" alt="Customer Service">Customer Service</a>
                </span>
            </div>
        </div>
    </div>
</footer>